:root {
  --calculator-background-color: #000;
  --main-font: 'Dosis', sans-serif;
  --calculator-height: 72%;
  --calculator-width: 36%;
}

@media screen and (max-width: 1024px) {
  :root {
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

body, div, p {
  margin: 0;
  padding: 0;
}