:root {
  /* Background colors */
  --calculator-background-color: coral;
  --display-background-color: #ffe8e8;
  --action-key-color: #545454;
  --action-key-hover: #2a2a2a;
  --number-key-color: #696969;
  --number-key-color-hover: #3f3f3f;
  --submit-key-color: #d18800;
  --submit-key-color-hover: #aa6e00;

  /* Font */
  --main-font: 'Dosis', sans-serif;
  --display-text-color: #d11f1f;
  --display-text-size: 4em;
  --display-text-weight: 400;
  --key-text-color: #d3d3d3;
  --key-text-size: 3em;
  --key-text-weight: 700;

  /* Dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;
  --display-height: 24%;
  --display-width: 92%;
  --keypad-height: 72%;
  --keypad-width: 96%;
}

@media screen and (max-width: 1024px) {
  :root {
    /* Font */
    --display-text-size: 10em;
    --key-text-size: 6em;

    /* Dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

body, div, p {
  margin: 0;
  padding: 0;
}